.footer_container {
  width: 100%;
  background-color: black;
  padding: 25px;

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      filter: invert(100%);
    }

    nav {
      display: flex;
      flex-direction: row;
      gap: 40px;

      p {
        color: white;
        transition: 0.3s;
        font-size: 10pt;
        cursor: pointer;
      }

      p:hover {
        font-weight: bolder;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 40px;
      color: white;
    }

    > p {
      font-size: 8pt;
      color: white;
    }
  }
}
