.detailHero_container {
  position: relative;
  height: 50vh;
  min-height: 700px;
  max-height: fit-content;
  margin-bottom: var(--s-gap);

  .description_container {
    padding: 30px;
    z-index: 50;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        font-size: min(max(3vw, 8pt), 50px);
        color: white;
        font-weight: bold;
      }

      > div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h3 {
          font-size: 14pt;
          font-weight: bold;
          color: white;
        }

        p {
          color: white;
          max-width: 30vw;
        }

        .genres {
          display: flex;
          flex-direction: row;
          gap: 30px;

          h4 {
            color: white;
            padding-bottom: 5px;
          }

          span {
            color: white;
            font-weight: bold;
          }
        }
      }
    }

    .poster {
      overflow: hidden;
      width: 400px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .background {
    z-index: 10;
    min-height: inherit;
    height: inherit;
    max-height: inherit;
    overflow: hidden;

    img {
      filter: brightness(20%);
      object-fit: cover;
      width: 100%;
    }
  }
}
