.details_container {
  padding-bottom: var(--s-gap);

  .divider {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    gap: var(--s-gap);
    height: auto;
    width: 100%;
    height: 100%;

    .showcase {
      overflow: hidden;
      position: relative;
      width: 100%;
    }
  }
}
