.section_ontainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;

  .row_container {
    position: relative;
    width: 90vw;
    max-width: var(--v-max-desktop-width);
  }
}

@media only screen and (max-width: var(--v-max-tablet-width)) {
  .globalSection {
    .container {
      padding: 0 4vw;
    }
  }
}

@media only screen and (max-width: var(--v-max-mobile-width)) {
  .globalSection {
    .container {
      width: 95vw;
    }
  }
}
