.mediaIamgeitem-container {
  cursor: pointer;

  img {
    width: 100%;
    object-fit: cover;
  }

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 40px;
  }
}
