.featuredClips_container {
  .title {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 12px;
  }

  .images_showcase {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
  }
}

@media only screen and (max-width: 1400px) {
  .featuredClips_container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .featuredClips_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .featuredClips_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
